{% extends "bootstrap/base.html" %}
{% block title %}Task List{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='tasks.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Task list</h1>

    <!-- The div to store the tasks list. It will be populated dynamically, by Javascript -->
    <div id="tasklist"></div>

    <!-- The div to store the form to insert/update a specific task -->
    <div class="text-center" id="inserttask">
        <form id="addForm" method="POST" class="form-inline">
            Task:
            <input type="text" id="taskDescription" class="form-control" name="description" style="display: inline;" />
            <div class="form-check form-check-inline" style="display: inline;">
                <label class="form-check-label" for="taskUrgent">Urgent:</label>
                <input class="form-check-input" type="checkbox" id="taskUrgent" name="urgent">
            </div>
            <button class="form-control" id="addTask">Add</button>
        </form>
    </div>
</div>
{% endblock %}